// src/styles/main.scss
/* utilities-only.scss */
@import "bootstrap/scss/bootstrap";



:root {
  --page-bg: #A00; 
  --Digital-SU-Red: #A00;
  --yellow: #FDB913;
}

// Reset & global
* { box-sizing: border-box; }
html, body, #app { height: 100%; }
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
  color:#000;
  background-color: var(--page-bg);   /* GSAP will drive this var */
}

body.bg-light {
  background-image: none !important; // override your gradient
}

// Layout utilities
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}